BIFROST_ADMIN_USERNAME={{ generated_secrets.bifrost_admin_username }}
BIFROST_ADMIN_PASSWORD={{ generated_secrets.bifrost_admin_password }}
BIFROST_ENCRYPTION_KEY={{ generated_secrets.bifrost_encryption_key }}
CLIPROXY_API_KEY={{ generated_secrets.cliproxy_api_key }}
BIFROST_VIRTUAL_KEY={{ generated_secrets.bifrost_virtual_key }}
PR_AGENT_BIFROST_VIRTUAL_KEY={{ generated_secrets.pr_agent_bifrost_virtual_key }}
