PORT={{ ports.pr_agent }}
GUNICORN_WORKERS={{ pr_agent.workers }}
CONFIG__MODEL={{ pr_agent.model | to_json }}
CONFIG__FALLBACK_MODELS={{ [pr_agent.fallback_model] | to_json }}
CONFIG__CUSTOM_MODEL_MAX_TOKENS=200000
CONFIG__RESTRICTED_MODE=true
CONFIG__OUTPUT_RUN_DETAILS=true
LITELLM__CUSTOM_LLM_PROVIDER=openai
GITHUB_APP__PR_COMMANDS=["/review"]
GITHUB_APP__HANDLE_PUSH_TRIGGER=false
GITHUB_APP__FEEDBACK_ON_DRAFT_PR=false
