[openai]
api_base = "http://127.0.0.1:{{ ports.bifrost }}/v1"
key = {{ generated_secrets.pr_agent_bifrost_virtual_key | to_json }}

[config]
fallback_models = {{ [pr_agent.fallback_model] | to_json }}

[github]
deployment_type = "app"
app_id = {{ pr_agent.github_app_id | string | to_json }}
private_key = {{ pr_agent.github_private_key | to_json }}
webhook_secret = {{ generated_secrets.pr_agent_webhook_secret | to_json }}
